*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
}

.Menu{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color:hsl(45, 44%, 48%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.Letras{
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 158px;
    width: 70%;
    gap: 15px;
}

.Logo{
    flex: 1;
}

.Inicio{
    display: flex;
    justify-content: center;
    flex: 0;
}

.Galeria{
    display: flex;
    justify-content: center;
    flex: 0;
}

.Acerca{
    display: flex;
    justify-content: center;
    flex: 0;
}

.Reserva{
    display: flex;
    justify-content: center;
    flex: 0;
}
