*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
}

.Menu{
    position: fixed;
    height: 158px;
    width: 100%;
    top: 0px;
    left: 0px;
    border-radius: 0;
    background-color:hsl(45, 44%, 48%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.Letras{
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    height: 158px;
    width: 70%;
    border: 1px solid;
}

.Logo{
    display: flex;
    justify-content: center;
    border: 1px solid;
    width: 40%;
}

.Inicio{
    display: flex;
    justify-content: center;
    border: 1px solid;
    width: 20%;
}

.Galeria{
    display: flex;
    justify-content: center;
    border: 1px solid;
    width: 20%;
}

.Acerca{
    display: flex;
    justify-content: center;
    border: 1px solid;
    width: 20%;
}
