*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
}

.Menu{
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 0px;
    left: 0px;
    background-color:hsl(45, 44%, 48%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja{
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 25px;
}

.Logo{
    flex: 2;
}

.Letras{
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 155px;
    height: 310px;
    width: 100%;
    border: 1px solid;
}

.slider-wrapper{
    display: flex;
    justify-content: center;
    border: 1px solid;
    width: 70%;
} 

.slider{
    display: flex;
    height: 280px;
    width: 300px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 10px;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}







@media (max-width:800px) {

    .Letras{
        flex-wrap: wrap;
    }

    .Logo{
        flex: 1;
    }

}

@media (max-width:580px) {
    
    .container-fotos{
        margin-top: 168px;
    }
}
