*{
    font-family:'Times New Roman', Times, sans-serif;
}
h1{
    font-size: 48px;
    font-weight: 500;
}
h2{
    font-size: 32px;
    font-weight: 400;
}
body{
    background-color:#FAF5F4;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}

/* main*/
.admin_grid{
    width: 80%;
    max-width: 1400px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr ;
    gap: 16px ;
	grid-template-areas: 
		"nav dash"
		"nav board"
	;
}

.nav{
    grid-area: nav;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #E1D2CF;
}
.nav>*{
    margin: 16px;
}
ul.sin_puntos {
    list-style-type: none;           
}
img {
    height: 24px;
}
li a{
    margin-left: 8px;
    vertical-align:super;
    text-decoration: none;
    color: rgb(59, 59, 59);
}
li a:hover{
    color: #DD7D6C;
}



.dash{
    grid-area: dash;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #E1D2CF;
}
.dash>*{
    margin: 16px;
}
.caja_padre{
    display: flex;
    gap: 16px;
}
.caja{
    height: 182px;
    width: 256px;
    border-radius: 10px;
    background-color: #faf5f4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
}


.board{
    grid-area: board;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #E1D2CF;
}
.board>*{
    margin: 16px;
}



/* main*/


.responsive{
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

/* header*/
header{
    display: flex;
    justify-content: center;
}

.responsive a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blure{
    top: 0;
    width: 100%;
    background-color: #FAF5F4;
    height: 100px;
    backdrop-filter: blur(100px);
    position: fixed;
    z-index: 3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

header .responsive{
    background-color: transparent;
    position: fixed;
    z-index: 3;
}

.logo{
    display: flex;
    width: 500px;
}


.nav_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 388px;
    gap: 30px;
}

/* header */

/* footer */
footer{
    margin-top: 46px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    grid-area: footer;
    border-top: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #FAF5F4;
    display: flex;
    justify-content: center;
}

.cajas_footer{
    width: 388px;
    display: flex;
    flex-direction: column;
}

.cajas_footer > *{
    padding: 2px;
    display: block;
    width: fit-content;
    margin: 0px 12px;
}
.responsive:last-child{
    gap: 96px;
}

/* footer */
.responsive a:hover{
    color: #DD7D6C;
}