*{
    font-family:'Times New Roman', Times, sans-serif;
}
h1{
    font-size: 48px;
    font-weight: 500;
}
h2{
    font-size: 32px;
    font-weight: 400;
}

.responsive{
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

/* header*/
header{
    display: flex;
    justify-content: center;
}

.responsive a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blure{
    top: 0;
    width: 100%;
    background-color: #FAF5F4;
    height: 100px;
    backdrop-filter: blur(100px);
    position: fixed;
    z-index: 3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

header .responsive{
    background-color: transparent;
    position: fixed;
    z-index: 3;
}

.logo{
    display: flex;
    width: 500px;
}

.nav_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 388px;
    gap: 30px;
}

/* header */

/* main */
h3{
    font-size: 20px;
    font-weight: 400;
    margin-left: 16px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}

.admin_grid{
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "reservas servicios"
        "reservas servicios"
        "carrusel carrusel"
    ;
    gap: 16px;
}

.reservas{
    height: fit-content;
    grid-area: reservas;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #E1D2CF;
}
.servicios{
    height: fit-content;
    grid-area: servicios;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #E1D2CF;
}
.carrusel{
    grid-area: carrusel;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #E1D2CF;
}

.tabla{
    margin: 16px;
    height: 392px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #FAF5F4;
}


/* main */

/* footer */
footer{
    margin-top: 46px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    grid-area: footer;
    border-top: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #FAF5F4;
    display: flex;
    justify-content: center;
}

.cajas_footer{
    width: 388px;
    display: flex;
    flex-direction: column;
}

.cajas_footer > *{
    padding: 2px;
    display: block;
    width: fit-content;
    margin: 0px 12px;
}
.responsive:last-child{
    gap: 96px;
}

/* footer */
.responsive a:hover{
    color: #DD7D6C;
}

@media (width < 1300px){
    .admin_grid{
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "reservas"
            "servicios"
            "carrusel"
        ;
        gap: 16px;
    }
}