.icon-cart{
    position: relative;
    z-index: 4;
}
.icon-cart span{
    display: flex;
    width: 25px;
    height: 25px;
    background-color: #372825;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -15%;
}
.container{
    transition: transform .5s;
}
.cartTab{
    z-index: 3;
    width: 360px;
    background-color: #faf5f4;
    position: fixed;
    inset: 120px -400px 40px auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.178);
}
body.showCart .cartTab{
    inset: 120px 16px 40px auto;
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.cartTab .btn button{
    font-size: 17px;
    margin: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #372825;
	color: #FFFFFF;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}
.cartTab .btn .close{
    background: #606061;
	color: #FFFFFF;
}
.cartTab .btn button:hover{
    outline: 3px solid #DC9A8E;
	background: #DC9A8E;
}
.cartTab .btn .close:hover{
    outline: 3px solid #79554f;
	background: #79554f; 
}



.cartTab .listCart .item img{
    width: 100%; 
    height: 100%;
    border-radius: 10px;
	outline: 4px #5a4745 solid;
}
.cartTab .listCart .item{
    margin-top: 16px;
    padding: 16px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 70px 120px 70px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.listCart .quantity span{
    font-weight:bolder;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    margin-top: 2px;
    background-color: transparent;
    font-weight:400;
}
.listCart .item:nth-child(even){
    background-color: #372825;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}


