main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}

.container_grid{
    width: 80%;
    max-width: 1200px;
    height: 700px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 5fr ;
    gap: 16px ;
	grid-template-areas: 
		"titulo titulo"
		"carrito boleta"
	;
}


.titulo{
    grid-area: titulo;
}
.titulo h1{
    font-size: 49px;
}


.carrito{
    grid-area: carrito;
}
.tabla{
    border-bottom: 6px solid #E1D2CF;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.tabla>div{
    margin: 0px 4px 8px 4px;
}


.boleta{
    grid-area: boleta;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    
}
.boleta h3{
    margin-left: 16px;
    margin-right: 16px;
    font-weight:200;
}
.data{
    flex: 1;
    width: 302px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #E1D2CF;
}
.detalles{
    height: 60px;
    display: flex;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #E1D2CF;
}
.datos_carro{
    flex: 1;
    background-color: #e4dad8;
    display: flex;
    justify-content: start;
    align-items: center;
}
.text_data{
    margin-left: 16px;
}
.total{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #E1D2CF;
}
#valor_carrito{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 46px;
    width: 100%;
    max-width: 302px;
}
.buttonStyle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60px;
    width: 100%;
    font-size: 16px;
    border-radius: 14px;
    background: #372825;
    text-align: center;
    color: white;
}
.buttonStyle:hover{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: none ;
    text-align: center;
    color: white;
    border: none;
    font-size: 18px;
}