*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
}

body{
    background-color: #FAF9F6;
    margin: 0 auto;
}

.h1{
    font-style: italic;
    font-weight: bold;
}
.h6{
    word-spacing: 5px;
}

.servicios{
    margin-top: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu */
.Menu{
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 0px;
    left: 0px;
    background-color:hsl(45, 44%, 48%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.caja{
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 25px;
}

.Logo{
    flex: 2;
}

.Letras{
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 20px;
}

.menu-a{
    margin-right: 25px;
    text-decoration: none;
    color: black;
}
.menu-a:hover{
    color: rgb(70, 54, 2);
    text-decoration: none;
}
/* Menu */


/* Carrusel Fotos*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 155px;
    height: 310px;
    width: 100%;
    border: 1px solid;
}

.container-fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 70%;
    gap: 25px;
    margin-top: 25px;   
} 

.slider{
    display: flex;
    height: 280px;
    width: 300px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 10px;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    z-index: 1;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
    border: 1px solid;
}
/* Carrusel Fotos*/

/* Navegacion de las fotos*/
.botone{
    display: flex;
    justify-content: center;
    border: 1px solid;
}

.slider-nav {
	display: flex;
	column-gap: 10px;
    border: 1px solid;
	z-index: 3;
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider-nav a {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #9e8787;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}
/* Navegacion de las fotos*/

/* Parrafos*/
.container-caja{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #E6D9B5;
}

.container-p{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
    border: 1px solid;
}

.caja-p{
    display: flex;
    flex-grow: 0; /*0--> Los elementos NO crecen*/
                  /*1--> Los elementos crecen*/
    flex-shrink: 1; /*0--> Los elementos NO reducen su tamaño*/
                    /*1--> Los elementos pueden reducir su tamaño a un tamaño más pequeño que su flex-basis*/
    flex-basis: 250px; /* Los elemento tiene un tamaño base*/
    border: 1px solid;
    margin: 25px;
}
/* Parrafos*/

/* Footer*/
.container-footer{
    position: relative;
    margin-bottom: 0px;
    background-color: #454444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.container-footer-cajas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid;
    width: 70%;
}

.cajas-footer {
    color: #ffffffe0;
    border: 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
/* Footer*/

/* Galeria*/
.container-galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FAF9F6;
}

.galeria{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    border: 1px solid;
    gap: 25px;
}

.Foto{
    display: flex;
    overflow: hidden;
    flex-shrink: 1;
    width: 200px;
    height: 250px;
    border: 1px solid;
    border-radius: 15px;
}
/**/

/* MEDIA*/
@media (max-width:800px) {

    .Letras{
        flex-wrap: wrap;
    }
    

    .Logo{
        flex: 1;
    }

    .container-p{
        width: 100%;
    }

    .galeria{
        width: 70%;
    }


}
@media (max-width:600px) {
    
    .container{
        margin-top: 168px;
    }
    .slide-circulo.hidden{
        display: none;
    }
    .container-fotos{
        width: fit-content;
    }

}


