main{
    display: flex;
    flex-direction: column;
}

.bento{
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 16px ;
	grid-template-areas: 
		"balayage correcion babylights"
		"bcolor corte tcapilar"
	;
}

.contenedor_foto{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    border-bottom: 2px solid rgba(0, 0, 0, 0.411);
    border-right: 2px solid rgba(0, 0, 0, 0.411);
}

.balayage{
	grid-area: balayage;
	border-radius: 10px;
	z-index: 2;
}
.balayage+section{
	grid-area: balayage;
}

.correccion{
	grid-area: correcion;
	border-radius: 10px;
	z-index: 2;
}
.correccion+section{
	grid-area: correcion;
}

.babylights{
	grid-area: babylights;
	border-radius: 10px;
	z-index: 2;
}
.babylights+section{
	grid-area: babylights;
}

.bcolor{
	grid-area: bcolor;
	border-radius: 10px;
	z-index: 2;
}
.bcolor+section{
    grid-area: bcolor;
}

.corte{
	grid-area: corte;
	border-radius: 10px;
	z-index: 2;
}
.corte+section{
    grid-area: corte;
}

.tcapilar{
	grid-area: tcapilar;
	border-radius: 10px;
	z-index: 2;
}
.tcapilar+section	{
    grid-area: tcapilar;
}

.linqfoto{
	border-radius: 10px;
	display: inline-block; 
	width:100%; 
	height: 100%;
	text-decoration: none;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items:end;
	transition: outline 0.2s ease;
}
.linqfoto span{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 34px;
    background: rgba(209, 206, 200, 0.938);
    color: rgb(17, 16, 16);
	padding: 6px;
	display: flex;
	font-weight: 500;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.linqfoto:hover{
	outline: 5px rgba(192, 169, 104, 0.781) solid;
}

/* modal */
.modales{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modalDialog {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	inset: 0;
	background: rgba(0,0,0,0.8);
	color: #a5a59f;
	z-index: 20;
    opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	border: 5px solid;
	width: 400px;
	position: relative;
	margin: 30% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: radial-gradient(circle , rgba(255, 255, 255, 0), rgba(201, 197, 197, 0.418));
	backdrop-filter: blur(80px);
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

.close-cancelar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #606061;
	color: #FFFFFF;
	margin-top: 10px;
	line-height: 25px;
	position: relative;
	text-align: center;
	width: 100px;
	text-decoration: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close-reservar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #a5925de7;
	color: #FFFFFF;
	margin-top: 10px;
	line-height: 25px;
	position: relative;
	text-align: center;
	width: 100px;
	text-decoration: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}


.close-cancelar:hover { background: #0c0f0fcb; }
.close-reservar:hover { background: #d7ba65f5;}
/* modal */

@media (width < 800px){
    .bento{
		grid-template-columns: repeat(2, 1fr);
    	grid-template-rows: repeat(3, 1fr);
		grid-template-areas: 
		"balayage correcion "
		"babylights bcolor "
		"corte tcapilar"
	;
	}
}

@media (width < 550px){
    .bento{
		grid-template-columns: 1fr;
    	grid-template-rows: repeat(6, 1fr);
		grid-template-areas: 
		"balayage"
		"correcion" 
		"babylights"
		"bcolor" 
		"corte"
		"tcapilar"
	;
	}
}