.responsive{
    width: 80%;
    display: flex;
    gap: 16px   ;
}

/* header*/
header{
    display: flex;
    justify-content: center;
}

.responsive a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .responsive{
    position: fixed;
}

.logo{
    border: 1px solid black;
    display: flex;
    flex-basis: 388px;
}

.nav_center{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 388px;
    gap: 30px;
}

.nav_right{
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 388px;
    gap: 30px;
}
/* header */


/* main */
.container main{
    border: 1px solid black;
}
/* main */


/* footer */

footer{
    margin-top: 30px;
    border: 1px solid black;
    grid-area: footer;
    background-color: bisque;
    display: flex;
    justify-content: center;
}

.cajas_footer{
    border: 1px solid black;
    width: 388px;
    display: flex;
    flex-direction: column;
}

.cajas_footer > *{
    padding: 2px;
    border: 1px solid black;
    display: block;
    width: fit-content;
    margin: 0px 12px;
}


/* footer */