.responsive{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 16px;
}
body{
    background-color: rgb(224,224,224);
}


/* header*/
header{
    display: flex;
    justify-content: center;
}

.responsive a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blure{
    width: 100%;
    background-color: rgba(244, 244, 244, 0.808);
    height: 90px;
    backdrop-filter: blur(100px);
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

header .responsive{
    background-color: transparent;
    position: fixed;
    z-index: 3;
}

.logo{
    display: flex;
    flex-basis: 388px;
}

.nav_center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 388px;
    gap: 30px;
}

.nav_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 388px;
    gap: 30px;
}
/* header */


/* footer */
footer{
    margin-top: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    grid-area: footer;
    border-top: 1px solid rgba(0, 0, 0, 0.178);
    background-color: rgb(244,244,244);
    display: flex;
    justify-content: center;
}

.cajas_footer{
    width: 388px;
    display: flex;
    flex-direction: column;
}

.cajas_footer > *{
    padding: 2px;
    display: block;
    width: fit-content;
    margin: 0px 12px;
}
/* footer */