main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}

.bento{
    width: 80%;
    max-width: 1172px;
    max-height: 638px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 108px repeat(4,  1fr);
    grid-template-areas: 
        "carrusel_b titulo titulo"
        "carrusel_b reserva reserva"
        "carrusel_b reserva reserva"
        "carrusel_b parrafo1 parrafo2"
        "carrusel_b parrafo1 parrafo2"
    ;
    gap: 16px;
    overflow: hidden;
}

.carrusel_b{
    grid-area: carrusel_b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    border-radius: 10px;
}
.carrusel_b img{
    border-radius: 10px;
    height: 680px;
    width: 388px;
}
.botone{
    grid-area: botone;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 134px;
    height: 34px;
    border-radius: 16px;
    background: #2b2929;
    color: white;
    margin-top: 16px;
}

.titulo{
    grid-area: titulo;
    height: 100%;
    margin-right: 12px;
    border-radius: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: rgb(244,244,244);
}


.reserva{
    grid-area: reserva;
    height: 288px;
    margin-right: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(244,244,244);
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
}
.cajas{
    width: 100%;
}
.cajas:first-child{
    text-align: center;
    padding: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cajas button{
    margin-top: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 134px;
    height: 34px;
    border-radius: 14px;
    background: #2b2929;
    text-align: center;
    color: white;
}
.cajas:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.carrusel_s{
    width: 264px;
    height: 245px;
    display: flex;
    justify-content: center;
}
.carrusel_s img{
    border-radius: 10px;
}


.parrafo{
    grid-area: parrafo1;
    border-radius: 10px;
    font-size: 16px;
    padding: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgb(244,244,244);
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
}

.parrafo2{
    grid-area: parrafo2;
    border-radius: 10px;
    font-size: 16px;
    padding: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgb(244,244,244);
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
}



@media (width < 1200px){
    .bento{
		grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 108px repeat(5,  1fr);
		grid-template-areas: 
        "titulo titulo"
        "carrusel_b reserva"
        "carrusel_b reserva"
        "carrusel_b reserva"
        "parrafo1 parrafo1"
        "parrafo2 parrafo2";
        max-height: fit-content;
        max-width: fit-content;
	}

    .carrusel_b img{
        border-radius: 10px;
        height: 100%;
    }

    .titulo h1{
        font-size: 40px;
    }

    .reserva{
        width: fit-content;
        height: 100%;
        flex-wrap: wrap;
    }
    .cajas{
        width: 80%;
        margin: 16px;
    }
    .carrusel_s{
        margin-bottom: 30px;
    }
}

@media (width < 920px){
    .bento{
		grid-template-columns: 1fr 1fr;
        grid-template-rows: 108px repeat(3,  1fr);
		grid-template-areas: 
        "titulo titulo"
        "reserva reserva"
        "carrusel_b parrafo1"
        "carrusel_b parrafo2";
        max-height: fit-content;
        max-width: fit-content;
	}

    .carrusel_b{
        height: auto;
        width: auto;
        margin-left: 0px;
        margin-right: 12px;
        
    }
    .carrusel_b img{
        min-width: 300px;
        max-height: 600px;
    }

    .titulo h1{
        font-size: 40px;
    }

    .reserva{
        width: auto;
        height: 100%;
    }
    .cajas{
        width: 250px;
    }
    .carrusel_s img{
        border-radius: 10px;
    }

    .parrafo{
        height: auto;
        margin-right: 12px;
    }
    .parrafo2{
        height: auto;
        margin-right: 12px;
    }
}

@media (width < 810px){
    .bento{
		grid-template-columns: 1fr ;
        grid-template-rows: 108px repeat(6,  1fr);
		grid-template-areas: 
        "titulo "
        "reserva"
        "reserva"
        "carrusel_b"
        "carrusel_b"
        "parrafo1"
        "parrafo2";
        max-height: fit-content;
        max-width: fit-content;
	}

    .carrusel_b{
        height: auto;
        width: auto;
        margin-left: 0px;
        margin-right: 12px;
    }
    .carrusel_b img{
        height: auto;
        width: auto;
    }
    .botone{
        display: none;
    }

    .titulo h1{
        font-size: 40px;
    }

    .reserva{
        justify-self: center;
        width: fit-content;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cajas{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carrusel_s img{
        border-radius: 10px;
    }

    .parrafo{
        height: auto;
        margin-right: 12px;
    }
    .parrafo2{
        height: auto;
        margin-right: 12px;
    }
}