*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body{
    background-color: #FAF9F6;
    margin: 0 auto;
}

.h6{
    word-spacing: 5px;
}

.servicios{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu */
.Menu{
    background: linear-gradient(to bottom,rgba(192,169,104,0.9), rgba(192,169,104,0));
    backdrop-filter: blur(80px);
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.caja{
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 30px;
}

.Logo{
    display: flex;
    height: 125px;
    width: 125px;
    margin: 20px;
    flex: 2;
}

.Letras{
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 20px;
}

.menu-a{
    margin-right: 25px;
    text-decoration: none;
    color: black;
}
.menu-a:hover{
    color: rgb(70, 54, 2);
    text-decoration: none;
}
/* Menu */

/* Footer*/
.container-footer{
    position: relative;
    background-color: #454444;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.container-footer-cajas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65%;
}

.cajas-footer {
    color: #ffffffef;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    border: 1px solid;
}
.Footer-a{
    margin-right: 25px;
    text-decoration: none;
    color: rgb(245, 245, 245);
}
.Footer-a:hover{
    color: rgba(192,169,104,0.9);
    text-decoration: none;
}
/* Footer*/

/* MEDIA*/
@media (max-width:800px) {

    .Letras{
        flex-wrap: wrap;
    }

    .Logo{
        flex: 1;
    }

    .container-p{
        width: 100%;
    }



}
@media (max-width:600px) {
    
    .container{
        margin-top: 168px;
    }
    .slide-circulo.prev{
        display: none;
    }
    .slide-circulo.next{
        display: none;
    }
    .container-fotos{
        width: fit-content;
    }

}
