main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

/* validar */

.formulario_grupo-correcto{
    outline: 3px solid rgb(196, 252, 112);
}

.formulario_grupo-incorrecto{
    outline: 3px solid rgb(201, 157, 157);
}

.formulario_input-error{
    margin-top: 0;
    color:brown; 
    font-size:small;
	display: none;
}

.formulario_input-error-activo{
	display: block;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje-exito {
	font-size: 16px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* validar */


/* Formulario */
.cont_form{
    width: 692px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: rgb(244,244,244);
}
.formu{
    margin: 30px 30px;
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: repeat(6, 80px) 40px 80px;
    grid-template-areas: 
        "titu isesion"
        "nombre genero"
        "papellido mapellido"
        "correo telefono"
        "domicilio domicilio"
        "contrasena1 contrasena2"
        "termino termino"
        "button button";
    justify-content: space-between;
    gap: 20px;
}
.linput{
    margin-top: 16px;
    width: 280px;
    height: 70px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.inputStyle{
    border-style: none;
    border-radius: 5px;
    min-height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    margin-top: 6px;
}
.domicilio .linput{
    width: 100%;
}
.isesion{
    grid-area: isesion;
    display: flex;
    gap: 8px;
}
.titu{
    margin-top: 0;
    grid-area: titu;
    font-size: 48px;
}
.nombre{
    grid-area: nombre;
}
.genero{
    grid-area: genero;
}
.papellido{
    grid-area: papellido;
}
.mapellido{
    grid-area: mapellido;
}
.correo{
    grid-area: correo;
}
.telefono{
    grid-area: telefono;
}
.domicilio{
    grid-area: domicilio;
    width: 100%;
}
.contrasena1{
    grid-area: contrasena1;
}
.contrasena2{
    grid-area: contrasena2;
}
.termino{
    grid-area: termino;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}
.button{
    grid-area: button;
    display: flex;
    align-items: center;
    gap: 46px;
}
.buttonStyle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 144px;
    height: 60px;
    font-size: 16px;
    border-radius: 14px;
    background: #2b2929;
    text-align: center;
    color: white;
}




/* media*/

@media (width<620px){
    .formu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(13, 70px) ;
        grid-template-areas: 
            "isesion"
            "titu"
            "nombre"
            "genero"
            "papellido"
            "mapellido"
            "correo"
            "telefono"            
            "domicilio"
            "contrasena1"
            "contrasena2"
            "termino"
            "button";
        gap: 16px;
    }
    .cont_form{
        height: 100%;
        width: fit-content;
    }
    .domicilio{
        justify-self: center;
    }
    .domicilio .inputStyle{
        width: 262px;
    }
    .isesion, .titu, .nombre, .genero, .papellido, .mapellido, .correo, .telefono, .contrasena1, .contrasena2, .termino, .button{
        justify-self: center;
    }
}