main{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    border: 1px solid black;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.cont_form{
    border: 1px solid black;
    height: 820px;
    width: 692px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: rgb(244,244,244);
}
.formu{
    border: 1px solid black;
    margin: 78px 40px;
    height: 682px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 24px repeat(5, 1fr) 114px;
    grid-template-areas: 
        "titu titu"
        "nombre genero"
        "papellido mapellido"
        "correo telefono"
        "domicilio domicilio"
        "contrasena contrasena"
        "botones botones";
}
.titu{
    grid-area: titu;
}
.nombre{
    grid-area: nombre;
}
.genero{
    grid-area: genero;
}
.papellido{
    grid-area: papellido;
}
.mapellido{
    grid-area: mapellido;
}
.correo{
    grid-area: correo;
}
.telefono{
    grid-area: telefono;
}
.domicilio{
    grid-area: domicilio;
}
.contrasena{
    grid-area: contrasena;
}
.botones{
    grid-area: botones;
}



.bento{
    border: 1px solid black;
    width: 456px;
    height: 820px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: rgb(244,244,244);
}