/* Carrusel Fotos*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    width: 100%;
}

.container-fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 25px;
    margin-top: 45px;   
} 

.slider{
    display: flex;
    height: 280px;
    width: 300px;
    flex-shrink: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    border-radius: 15px;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    z-index: 1;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
/* Carrusel Fotos*/

/* Navegacion de las fotos*/
.botone{
    display: flex;
    justify-content: center;
}

.slider-nav {
	display: flex;
	column-gap: 10px;
	z-index: 3;
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider-nav a {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #9e8787;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}
/* Navegacion de las fotos*/


/* Parrafos*/
.container-caja{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-p{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
    border-radius: 15px;
    background-color: #E6D9B5;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.caja-p{
    display: flex;
    flex-grow: 0; /*0--> Los elementos NO crecen*/
                  /*1--> Los elementos crecen*/
    flex-shrink: 1; /*0--> Los elementos NO reducen su tamaño*/
                    /*1--> Los elementos pueden reducir su tamaño a un tamaño más pequeño que su flex-basis*/
    flex-basis: 250px; /* Los elemento tiene un tamaño base*/
    margin: 25px;
}
/* Parrafos*/