
.slider {
    position: relative;
    width: 300px;
    height: 280px;
    overflow: hidden;
    border-radius: 15px;
    flex-shrink: 0;
}

.slider img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.slider img.active {
    opacity: 1;
}

.slide-circulo:hover{
    border-radius: 50%;
    backdrop-filter: blur(80px);
    background: radial-gradient(circle , rgb(173, 149, 76, 0), rgba(167, 165, 161, 0.25));
}

.slide-circulo {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #a18d55;
    cursor: pointer;
    font-size: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: #FAF9F6;
    padding: 10px;
    text-decoration: none;
}

.slide-circulo.prev {
    left: 10px;
}

.slide-circulo.next {
    right: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 155px;
    height: 310px;
    width: 100%;
}

.container-fotos{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 290px;
    gap: 25px;
    margin-top: 25px; 
} 


.botone{
    display: flex;
    justify-content: center;
}

.slider-nav {
	display: flex;
	column-gap: 10px;
	z-index: 3;
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider-nav a {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #9e8787;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}


/* Parrafos*/
.container-caja{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    border-radius: 15px;
    background-color: #E6D9B5;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.caja-p{
    display: flex;
    flex-grow: 1; /*0--> Los elementos NO crecen*/
                  /*1--> Los elementos crecen*/
    flex-shrink: 1; /*0--> Los elementos NO reducen su tamaño*/
                    /*1--> Los elementos pueden reducir su tamaño a un tamaño más pequeño que su flex-basis*/
    flex-basis: 250px; /* Los elemento tiene un tamaño base*/
    margin: 25px;
}
.caja-a{
    display: flex;
    flex-direction: column;
    flex-grow: 0; /*0--> Los elementos NO crecen*/
                  /*1--> Los elementos crecen*/
    flex-shrink: 1; /*0--> Los elementos NO reducen su tamaño*/
                    /*1--> Los elementos pueden reducir su tamaño a un tamaño más pequeño que su flex-basis*/
    flex-basis: 250px; /* Los elemento tiene un tamaño base*/
    margin: 25px;
}
/* Parrafos*/