/* Galeria*/
.container-galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FAF9F6;
}

.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.caja-foto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
	gap: 15px;
}

.Foto{
	position: relative;
    margin: 10px;
    display: flex;
    overflow: hidden;
    flex-shrink: 1;
    width: 250px;
    height: 350px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    border-radius: 15px;
	transition: opacity 0.5s;
}

.Foto::after{
	content: "Balayage";
	font-size: 16px;
	position: absolute;
	display: none;
	color: rgb(255, 255, 255);
	background-color: rgba(192, 169, 104, 0.781);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	border-radius: 15px;
	padding: 10px;
	top: 45%;
	left: 33%;
}

#Foto-2:hover::after{
	content: "Correccion";
}

#Foto-3:hover::after{
	content: "Babylights";
}

#Foto-4:hover::after{
	left: 27%;
	content: "Baño de color";
}

#Foto-5:hover::after{
	left: 29%;
	content: "Corte de pelo";
}

#Foto-6:hover::after{
	left: 14%;
	content: "Tratratamiento capilar";
}


.Foto:hover{
	opacity: 0.8;
	border: 5px rgba(192, 169, 104, 0.781) solid;
}

.Foto:hover::after{
	display: block;
}


/*Galeria*/

.modales{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modalDialog {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	inset: 0;
	background: rgba(0,0,0,0.8);
	color: #a5a59f;
	z-index: 20;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	border: 5px solid;
	width: 400px;
	position: relative;
	margin: 30% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: radial-gradient(circle , rgba(255, 255, 255, 0), rgba(201, 197, 197, 0.418));
	backdrop-filter: blur(80px);
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

.close-cancelar {
	background: #606061;
	color: #FFFFFF;
	margin-top: 10px;
	line-height: 25px;
	position: relative;
	text-align: center;
	width: 100px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close-reservar{
	background: #a5925de7;
	color: #FFFFFF;
	margin-top: 10px;
	line-height: 25px;
	position: relative;
	text-align: center;
	width: 100px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}


.close-cancelar:hover { background: #0c0f0fcb; }
.close-reservar:hover { background: #d7ba65f5;}