.container-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    border: 1px solid;
}

.CuadroTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 155px;
    border: 5px solid;
}
.Titulo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    border: 1px solid;
    font-size: 61px;
    font-style: italic;
}