/* main*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}
#a_usuario:hover{
    color: black;
}

.admin_grid{
    height: 700px;
    max-width: 1150px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr ;
    gap: 16px ;
	grid-template-areas: 
        "nav board ";
}

.nav{
    width: 302px;
    grid-area: nav;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #E1D2CF;
}
.nav>*{
    margin: 16px;
}
ul.sin_puntos {
    list-style-type: none;           
}
img {
    height: 24px;
}
li a{
    margin-left: 8px;
    vertical-align:super;
    text-decoration: none;
    color: rgb(59, 59, 59);
}
li a:hover{
    color: #dd6e5a;
}




.caja{
    height: 300px;
    width: 96%;
    border-radius: 10px;
    background-color: #faf5f4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
}
.caja {
    text-align: center;
}
.caja h2{
    margin: 16px;
}
.caja div{
    margin: 22px;
    font-size: 30px;
    text-align: center;
}


.board{
    max-width: 830px;
    grid-area: board;
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    background-color: #E1D2CF;
}
.board>*{
    margin: 16px;
}
/* main*/

@media (width < 1000px){
    .admin_grid{
        height: 600px;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 200px 400px ;
        gap: 16px ;
        grid-template-areas: 
            "nav nav"
            "board board"
            "board board"
        ;
    }
}